.about-page {
  padding: 40px 80px;
  width: 100vw;
  height: calc(90vh);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.avatar {
  border-radius: 999em;
  width: 100%;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2)
}

.about__technology {
  list-style-type: none;
}
