.navbar {
  height: 10vh;
  background-color: whitesmoke;
  width: 100%;
  opacity: 0.5;
  transition: opacity 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar:hover {
  opacity: 1;
  transition: opacity 0.5s;
}

.navbar__link {
  text-align: center;
  color: rgb(37, 37, 37);
  font-size: 1.5em;
  text-decoration: none;
  padding: 20px;
  width: 300px;
}

.current-page {
  color: black;
  font-size: 2em;
}
