.right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 70%;
  background-color: $card-white;
  border-radius: $theme-radius
}
