<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='css/style.css'>
  <title>Benjamin</title>
</head>
<body style="opacity: 0">
  {{>header}}
  <div class="content">
    <div class="heading">
      <div>Projects</div>
    </div>
    <div class="cards">
      <div class="card">
        <div class="preview-image">

        </div>
        <div class="card-details">
          Snek
        </div>
      </div>
      <div class="card">
        <div class="preview-image">
        </div>
        <div class="card-details">
          Wordln't
        </div>
      </div>
      <div class="card">
        <div class="preview-image">
        </div>
        <div class="card-details">
          Node-weather
        </div>
      </div>
      <div class="card">
        <div class="preview-image">
        </div>
        <div class="card-details">
          Hoenn-Pokedex
        </div>
      </div>
      <div class="card">
        <div class="preview-image">

        </div>
        <div class="card-details">

        </div>
      </div>
      <div class="card">
        <div class="preview-image">

        </div>
        <div class="card-details">

        </div>
      </div>
    </div>
  </div>
  <script src="js/home.js"></script>
</body>
</html>
