<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='css/shenanigans.css'>
  <title>Benjamin</title>
</head>

<body>
  <div class="content">

    <h1>Hello</h1>
    <div class="carousel">
      <div class="carousel-images">
        <img src="images/answers1.png" class="carousel-image left">
        <img src="images/answers2.png" class="carousel-image center">
        <img src="images/answers3.png" class="carousel-image right">
        <div class="next change">&#8250;</div>
        <div class="prev change">&#8249;</div>
      </div>
    </div>
  </div>
  <script src="js/client.js"></script>
</body>

</html>
